<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PapersProjects</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbConnectorClass</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>ppuser</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>pppassword</param-value>
  </context-param>
  <context-param>
    <param-name>dbDatabase</param-name>
    <param-value>papersprojects</param-value>
  </context-param>
  <context-param>
    <param-name>dbHost</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>dbPort</param-name>
    <param-value>3306</param-value>
  </context-param>
  <context-param>
    <param-name>PDFPapersBaseDir</param-name>
    <param-value>/tmp</param-value>
  </context-param>
</web-app>
